In [3]:
import pandas as pd
import zipfile as zfm

zipfile = 'DataToVisualize.zip'
dataset = 'spotify.csv'

with zfm.ZipFile(zipfile) as zf:
    df = pd.read_csv(zf.open(dataset), index_col='Date', parse_dates=True)
    # spotify_data = pd.read_csv(spotify_filepath, index_col="Date", parse_dates=True)
print(df.shape)
#df.describe()
df.iloc[[0, 1, 9, -9, -2, -1]]

(366, 5)

,Shape of You,Despacito,Something Just Like This,HUMBLE.,Unforgettable
Date,,,,,
2017-01-06,12287078,NaN,NaN,NaN,NaN
2017-01-07,13190270,NaN,NaN,NaN,NaN
2017-01-15,12889849,1288198.0,NaN,NaN,NaN
2018-01-01,4865387,5557165.0,2179506.0,2368321.0,2537274.0
2018-01-08,4135505,2755266.0,2023251.0,2523265.0,2622693.0
2018-01-09,4168506,2791601.0,2058016.0,2727678.0,2627334.0

In [5]:
print(df.info())
df.index.dtype

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 366 entries, 2017-01-06 to 2018-01-09
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Shape of You              366 non-null    int64
 1   Despacito                 359 non-null    float64
 2   Something Just Like This  319 non-null    float64
 3   HUMBLE.                   282 non-null    float64
 4   Unforgettable             275 non-null    float64
dtypes: float64(4), int64(1)
memory usage: 17.2 KB
None

dtype('<M8[ns]')

In [ ]:
# df.set_index('Date', inplace=True)
# df.head(2)

In [ ]:
# df.index.to_datetime(df.index, inplace=True)
# df.tail(3)