In [1]:
import pandas as pd
import zipfile as zfm

zipfile = 'DataToVisualize.zip'
dataset = 'spotify.csv'

with zfm.ZipFile(zipfile) as zf:
    df = pd.read_csv(zf.open(dataset))
    # spotify_data = pd.read_csv(spotify_filepath, index_col="Date", parse_dates=True)
print(df.shape)
#df.describe()
df.iloc[[0, 1, 9, -9, -2, -1]]

(366, 6)

,Date,Shape of You,Despacito,Something Just Like This,HUMBLE.,Unforgettable
0,2017-01-06,12287078,NaN,NaN,NaN,NaN
1,2017-01-07,13190270,NaN,NaN,NaN,NaN
9,2017-01-15,12889849,1288198.0,NaN,NaN,NaN
357,2018-01-01,4865387,5557165.0,2179506.0,2368321.0,2537274.0
364,2018-01-08,4135505,2755266.0,2023251.0,2523265.0,2622693.0
365,2018-01-09,4168506,2791601.0,2058016.0,2727678.0,2627334.0

In [3]:
df.set_index('Date', inplace=True)
df.head(2)

,Shape of You,Despacito,Something Just Like This,HUMBLE.,Unforgettable
Date,,,,,
2017-01-06,12287078,NaN,NaN,NaN,NaN
2017-01-07,13190270,NaN,NaN,NaN,NaN

In [5]:
df.to_datetime(df.index, inplace=True)
df.tail(3)

AttributeError: 'DataFrame' object has no attribute 'to_datetime'