# Changing date format in datetame cols
- I get in mind three ways to do it:
    1. Working w/dates in Pandas
    2. Use lambda or other functions to a given col
    3. Use datetime module in a Col

- python-pandas-data-analysis
- https://www.youtube.com/watch?v=GPVsHOlRBBI - Live Course Part 4 - 4:03:50
- https://jovian.ml/aakashns/python-pandas-data-analysis

#### We'll use italy_covid_daywise.csv
- It is 'now' a local file
- Downloaded from internet using:
    - from urllib.request import urlretrieve
    - 'https://gist.githubusercontent.com/aakashns/f6a004fa20c84fec53262f9a8bfee775/raw/f309558b1cf5103424cef58e2ecb8704dcd4d74c'

In [1]:
import pandas as pd

covid_df = pd.read_csv('italy_covid_daywise.csv')
display(covid_df.sample(5))

covid_df.info()

           date  new_cases  new_deaths  new_tests
121  2020-04-30     2086.0       323.0    41441.0
23   2020-01-23        0.0         0.0        NaN
206  2020-07-24      306.0        10.0    28970.0
84   2020-03-24     4789.0       601.0        NaN
143  2020-05-22      642.0       156.0    42987.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        248 non-null    object
 1   new_cases   248 non-null    float64
 2   new_deaths  248 non-null    float64
 3   new_tests   135 non-null    float64
dtypes: float64(3), object(1)
memory usage: 7.9+ KB

## Challenge: change the format of date column
- from AAAA-MM-DD to d/m/aaaa
- write a new csv with this new date format

### 1. Working w/dates in Pandas
-

In [2]:
# Actual values, dtyoe > object (str)
covid_df.date.sample(3)

247    2020-09-03
6      2020-01-06
219    2020-08-06
Name: date, dtype: object

In [3]:
# Can convert to_datetime() - simple wo/arguments
covid_df.date = pd.to_datetime(covid_df.date)
display(covid_df.date.sample(3))
covid_df.info()

49   2020-02-18
11   2020-01-11
10   2020-01-10
Name: date, dtype: datetime64[ns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        248 non-null    datetime64[ns]
 1   new_cases   248 non-null    float64
 2   new_deaths  248 non-null    float64
 3   new_tests   135 non-null    float64
dtypes: datetime64[ns](1), float64(3)
memory usage: 7.9 KB

In [4]:
# Apply strftime to this column
covid_df['date'] = covid_df['date'].dt.strftime('%#d/%#m/%Y')
# https://stackoverflow.com/questions/904928/python-strftime-date-without-leading-0

In [5]:
display(covid_df.sample(4))
covid_df.info()

          date  new_cases  new_deaths  new_tests
116  25/4/2020     3021.0       420.0    38676.0
246   2/9/2020      975.0         8.0        NaN
145  24/5/2020      669.0       119.0    34206.0
203  21/7/2020      190.0        13.0    23915.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        248 non-null    object
 1   new_cases   248 non-null    float64
 2   new_deaths  248 non-null    float64
 3   new_tests   135 non-null    float64
dtypes: float64(3), object(1)
memory usage: 7.9+ KB

In [6]:
### Write new CSV
covid_df.to_csv('Italy_covid_new.csv', sep=';', index=False)

## Working with dates
- real datetime objects not strings (object) . pd.to_datetime() method.
- https://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.DatetimeIndex.html

In [7]:
# Actual value
#covid_df.sort_values('date', ascending=False)
covid_df.date

0      31/12/2019
1        1/1/2020
2        2/1/2020
3        3/1/2020
4        4/1/2020
          ...
243     30/8/2020
244     31/8/2020
245      1/9/2020
246      2/9/2020
247      3/9/2020
Name: date, Length: 248, dtype: object

In [8]:
covid_df['date'] = pd.to_datetime(covid_df['date'])
covid_df.date

C:\Users\jm\AppData\Local\Temp\ipykernel_19260\804242039.py:1: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  covid_df['date'] = pd.to_datetime(covid_df['date'])

0     2019-12-31
1     2020-01-01
2     2020-01-02
3     2020-01-03
4     2020-01-04
         ...
243   2020-08-30
244   2020-08-31
245   2020-09-01
246   2020-09-02
247   2020-09-03
Name: date, Length: 248, dtype: datetime64[ns]

In [9]:
# lot more for filtering w/year, day, weekday ... etc once addet year, month, day, weekday columns

### Grouping and aggregation
- summarize daywise data in monthwise data. df.groupby() method
- cumsum(), & others cummean, etc... methods to make acumulator at some point!!

# having a moth col...

## Merging data from multiple sources

## Writing data back to files

## Bonus; Basic Plotting w/Pandas