# Analysing Tabular Data with Pandas - jovian.ml
- python-pandas-data-analysis
- https://www.youtube.com/watch?v=GPVsHOlRBBI - Live Course Part 4 - 4:03:50
- https://jovian.ml/aakashns/python-pandas-data-analysis

In [14]:
from urllib.request import urlretrieve
import pandas as pd

In [18]:
#italy_covid_url = 'https://gist.githubusercontent.com/aakashns/f6a004fa20c84fec53262f9a8bfee775/raw/f309558b1cf5103424cef58e2ecb8704dcd4d74c/italy-covid-daywise.csv'
#italy_covid_url = 'https://gist.githubusercontent.com/aakashns/f6a004fa20c84fec53262f9a8bfee775/raw/f309558b1cf5103424cef58e2ecb8704dcd4d74c/'
# --- ok all of the abobe - jm like #2
italy_covid_url = 'https://gist.githubusercontent.com/aakashns/f6a004fa20c84fec53262f9a8bfee775/raw/f309558b1cf5103424cef58e2ecb8704dcd4d74c'
urlretrieve(italy_covid_url, 'italy_covid_daywise.csv')
# --- bad! don't work the below
#urlretrieve('https://gist.githubusercontent.com/aakashns/f6a004fa20c84fec53262f9a8bfee775/raw/f309558b1cf5103424cef58e2ecb8704dcd4d74c/italy-covid-daywise.csv')

('italy_covid_daywise.csv', <http.client.HTTPMessage at 0x281e559a250>)

In [19]:
covid_df = pd.read_csv('italy_covid_daywise.csv')
display(covid_df)

           date  new_cases  new_deaths  new_tests
0    2019-12-31        0.0         0.0        NaN
1    2020-01-01        0.0         0.0        NaN
2    2020-01-02        0.0         0.0        NaN
3    2020-01-03        0.0         0.0        NaN
4    2020-01-04        0.0         0.0        NaN
..          ...        ...         ...        ...
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
245  2020-09-01      996.0         6.0    54395.0
246  2020-09-02      975.0         8.0        NaN
247  2020-09-03     1326.0         6.0        NaN

[248 rows x 4 columns]

In [26]:
print(covid_df.count(), type(covid_df))
print()
print(covid_df.shape[0], type(covid_df.shape[0]))
print(covid_df['date'].count(), type(covid_df['date'].count()))
print()
print(covid_df.info())

date          248
new_cases     248
new_deaths    248
new_tests     135
dtype: int64 <class 'pandas.core.frame.DataFrame'>

248 <class 'int'>
248 <class 'numpy.int64'>

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        248 non-null    object
 1   new_cases   248 non-null    float64
 2   new_deaths  248 non-null    float64
 3   new_tests   135 non-null    float64
dtypes: float64(3), object(1)
memory usage: 7.9+ KB
None

In [28]:
### trying jovian liibrary mmm¿?
import jovian
jovian.__version__

'0.2.47'

In [31]:
#jovian.commit(project='python-pandas-DA_jm') # don't work

#jovian.commit(message=None, files=[], outputs=[], environment='auto', privacy='auto',
# filename=None, project=None, new_project=None, git_commit=False, git_message='auto',
#**kwargs)

jovian.commit(filename='python-pandas-DA_jm.ipynb', project='python-pandas-DA_jm.ipynb')

[jovian] Please enter your API key ( from https://jovian.com/ ):
API KEY:[jovian] Creating a new project "jmonti-gh/python-pandas-DA_jm.ipynb"
[jovian] Committed successfully! https://jovian.com/jmonti-gh/python-pandas-da-jm

'https://jovian.com/jmonti-gh/python-pandas-da-jm'

In [36]:
print(covid_df['new_cases'][127])
print(covid_df.at[127, 'new_cases'])
covid_df.new_cases                      # same as covid_df['new_cases]

1075.0
1075.0

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
        ...
243    1444.0
244    1365.0
245     996.0
246     975.0
247    1326.0
Name: new_cases, Length: 248, dtype: float64

In [39]:
cases_df = covid_df[['date', 'new_cases']]
cases_df    # it's a view (modify one modify both), not a full (deep) copy as w/ the .copy() method

           date  new_cases
0    2019-12-31        0.0
1    2020-01-01        0.0
2    2020-01-02        0.0
3    2020-01-03        0.0
4    2020-01-04        0.0
..          ...        ...
243  2020-08-30     1444.0
244  2020-08-31     1365.0
245  2020-09-01      996.0
246  2020-09-02      975.0
247  2020-09-03     1326.0

[248 rows x 2 columns]

In [45]:
print(covid_df.iloc[127], type(covid_df.iloc[127]), covid_df.iloc[127].index)
print()
print(covid_df.loc[127], type(covid_df.loc[127]))
print()
print(covid_df.loc[127]['new_tests'], type(covid_df.loc[127]['new_tests']))

date          2020-05-06
new_cases         1075.0
new_deaths         236.0
new_tests        37771.0
Name: 127, dtype: object <class 'pandas.core.series.Series'> Index(['date', 'new_cases', 'new_deaths', 'new_tests'], dtype='object')

date          2020-05-06
new_cases         1075.0
new_deaths         236.0
new_tests        37771.0
Name: 127, dtype: object <class 'pandas.core.series.Series'>

37771.0 <class 'numpy.float64'>

In [56]:
print(covid_df['new_tests'][0], type(covid_df.new_tests[0]))
print(covid_df.new_tests.first_valid_index(), type(covid_df.new_tests.first_valid_index()))
print(covid_df.new_tests[covid_df.new_tests.first_valid_index() - 1])
print(covid_df.new_tests[covid_df.new_tests.first_valid_index() + 1])
covid_df.new_tests[covid_df.new_tests.first_valid_index()]

nan <class 'numpy.float64'>
111 <class 'int'>
nan
28095.0

7841.0

In [60]:
n_t_fvi = covid_df.new_tests.first_valid_index()
#covid_df[n_t_fvi - 3: n_t_fvi +3]                  # the same as below & below
#covid_df.loc[n_t_fvi - 3: n_t_fvi +3]
n = 4
covid_df.iloc[n_t_fvi - n: n_t_fvi + n]

           date  new_cases  new_deaths  new_tests
107  2020-04-16     2667.0       578.0        NaN
108  2020-04-17     3786.0       525.0        NaN
109  2020-04-18     3493.0       575.0        NaN
110  2020-04-19     3491.0       480.0        NaN
111  2020-04-20     3047.0       433.0     7841.0
112  2020-04-21     2256.0       454.0    28095.0
113  2020-04-22     2729.0       534.0    44248.0
114  2020-04-23     3370.0       437.0    37083.0

In [65]:
print(type(covid_df.sample(8)))
covid_df.sample(8)

<class 'pandas.core.frame.DataFrame'>

           date  new_cases  new_deaths  new_tests
138  2020-05-17      875.0       153.0    33505.0
117  2020-04-26     2357.0       415.0    24113.0
30   2020-01-30        0.0         0.0        NaN
86   2020-03-26     5210.0       685.0        NaN
230  2020-08-17      477.0         4.0    21379.0
6    2020-01-06        0.0         0.0        NaN
13   2020-01-13        0.0         0.0        NaN
240  2020-08-27     1366.0        13.0    57640.0

In [67]:
jovian.commit(filename='python-pandas-DA_jm.ipynb')

[jovian] Updating notebook "jmonti-gh/python-pandas-da-jm" on https://jovian.com/
[jovian] Committed successfully! https://jovian.com/jmonti-gh/python-pandas-da-jm

'https://jovian.com/jmonti-gh/python-pandas-da-jm'

## Analyzing Data from a DF
- Questions like total number of a column

In [68]:
total_cases = covid_df.new_cases.sum()
total_deaths = covid_df['new_deaths'].sum()
print(total_cases, total_deaths)

271515.0 35497.0

In [69]:
# **Q: What is the overall death rate (ratio of reported deaths to reported cases)?**
death_cases_ratio = total_deaths / total_cases
print('The overall death rate (ratio of reported deaths to reported cases) is: {:.2f}'.format(death_cases_ratio))

The overall death rate (ratio of reported deaths to reported cases) is: 0.13

### Quering and Sorting rows

In [70]:
covid_df[covid_df.new_cases > 1000]

           date  new_cases  new_deaths  new_tests
68   2020-03-08     1247.0        36.0        NaN
69   2020-03-09     1492.0       133.0        NaN
70   2020-03-10     1797.0        98.0        NaN
72   2020-03-12     2313.0       196.0        NaN
73   2020-03-13     2651.0       189.0        NaN
..          ...        ...         ...        ...
241  2020-08-28     1409.0         5.0    65135.0
242  2020-08-29     1460.0         9.0    64294.0
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
247  2020-09-03     1326.0         6.0        NaN

[72 rows x 4 columns]

In [ ]:
### 4:42:59