# Analyzing Tabular Data with Pandas - jovian.ml
- python-pandas-data-analysis
- https://www.youtube.com/watch?v=GPVsHOlRBBI - Live Course Part 4 - 4:03:50
- https://jovian.ml/aakashns/python-pandas-data-analysis

In [80]:
from urllib.request import urlretrieve
import pandas as pd

In [81]:
#italy_covid_url = 'https://gist.githubusercontent.com/aakashns/f6a004fa20c84fec53262f9a8bfee775/raw/f309558b1cf5103424cef58e2ecb8704dcd4d74c/italy-covid-daywise.csv'
#italy_covid_url = 'https://gist.githubusercontent.com/aakashns/f6a004fa20c84fec53262f9a8bfee775/raw/f309558b1cf5103424cef58e2ecb8704dcd4d74c/'
# --- ok all of the above - jm like #2
italy_covid_url = 'https://gist.githubusercontent.com/aakashns/f6a004fa20c84fec53262f9a8bfee775/raw/f309558b1cf5103424cef58e2ecb8704dcd4d74c'
urlretrieve(italy_covid_url, 'italy_covid_daywise.csv')
# --- bad! don't work the below
#urlretrieve('https://gist.githubusercontent.com/aakashns/f6a004fa20c84fec53262f9a8bfee775/raw/f309558b1cf5103424cef58e2ecb8704dcd4d74c/italy-covid-daywise.csv')

('italy_covid_daywise.csv', <http.client.HTTPMessage at 0x1b96330fdd0>)

In [82]:
covid_df = pd.read_csv('italy_covid_daywise.csv')
display(covid_df)

           date  new_cases  new_deaths  new_tests
0    2019-12-31        0.0         0.0        NaN
1    2020-01-01        0.0         0.0        NaN
2    2020-01-02        0.0         0.0        NaN
3    2020-01-03        0.0         0.0        NaN
4    2020-01-04        0.0         0.0        NaN
..          ...        ...         ...        ...
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
245  2020-09-01      996.0         6.0    54395.0
246  2020-09-02      975.0         8.0        NaN
247  2020-09-03     1326.0         6.0        NaN

[248 rows x 4 columns]

In [83]:
print(covid_df.count(), type(covid_df))
print()
print(covid_df.shape[0], type(covid_df.shape[0]))
print(covid_df['date'].count(), type(covid_df['date'].count()))
print()
print(covid_df.info())

date          248
new_cases     248
new_deaths    248
new_tests     135
dtype: int64 <class 'pandas.core.frame.DataFrame'>

248 <class 'int'>
248 <class 'numpy.int64'>

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        248 non-null    object
 1   new_cases   248 non-null    float64
 2   new_deaths  248 non-null    float64
 3   new_tests   135 non-null    float64
dtypes: float64(3), object(1)
memory usage: 7.9+ KB
None

In [84]:
# ### trying jovian liibrary mmm¿?
# import jovian
# jovian.__version__

In [85]:
#jovian.commit(project='python-pandas-DA_jm') # don't work

#jovian.commit(message=None, files=[], outputs=[], environment='auto', privacy='auto',
# filename=None, project=None, new_project=None, git_commit=False, git_message='auto',
#**kwargs)

# jovian.commit(filename='python-pandas-DA_jm.ipynb', project='python-pandas-DA_jm.ipynb')

In [86]:
print(covid_df['new_cases'][127])
print(covid_df.at[127, 'new_cases'])
covid_df.new_cases                      # same as covid_df['new_cases]

1075.0
1075.0

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
        ...
243    1444.0
244    1365.0
245     996.0
246     975.0
247    1326.0
Name: new_cases, Length: 248, dtype: float64

In [87]:
cases_df = covid_df[['date', 'new_cases']]
cases_df    # it's a view (modify one modify both), not a full (deep) copy as w/ the .copy() method

           date  new_cases
0    2019-12-31        0.0
1    2020-01-01        0.0
2    2020-01-02        0.0
3    2020-01-03        0.0
4    2020-01-04        0.0
..          ...        ...
243  2020-08-30     1444.0
244  2020-08-31     1365.0
245  2020-09-01      996.0
246  2020-09-02      975.0
247  2020-09-03     1326.0

[248 rows x 2 columns]

In [88]:
print(covid_df.iloc[127], type(covid_df.iloc[127]), covid_df.iloc[127].index)
print()
print(covid_df.loc[127], type(covid_df.loc[127]))
print()
print(covid_df.loc[127]['new_tests'], type(covid_df.loc[127]['new_tests']))

date          2020-05-06
new_cases         1075.0
new_deaths         236.0
new_tests        37771.0
Name: 127, dtype: object <class 'pandas.core.series.Series'> Index(['date', 'new_cases', 'new_deaths', 'new_tests'], dtype='object')

date          2020-05-06
new_cases         1075.0
new_deaths         236.0
new_tests        37771.0
Name: 127, dtype: object <class 'pandas.core.series.Series'>

37771.0 <class 'numpy.float64'>

In [89]:
print(covid_df['new_tests'][0], type(covid_df.new_tests[0]))
print(covid_df.new_tests.first_valid_index(), type(covid_df.new_tests.first_valid_index()))
print(covid_df.new_tests[covid_df.new_tests.first_valid_index() - 1])
print(covid_df.new_tests[covid_df.new_tests.first_valid_index() + 1])
covid_df.new_tests[covid_df.new_tests.first_valid_index()]

nan <class 'numpy.float64'>
111 <class 'int'>
nan
28095.0

7841.0

In [90]:
n_t_fvi = covid_df.new_tests.first_valid_index()
#covid_df[n_t_fvi - 3: n_t_fvi +3]                  # the same as below & below
#covid_df.loc[n_t_fvi - 3: n_t_fvi +3]
n = 4
covid_df.iloc[n_t_fvi - n: n_t_fvi + n]

           date  new_cases  new_deaths  new_tests
107  2020-04-16     2667.0       578.0        NaN
108  2020-04-17     3786.0       525.0        NaN
109  2020-04-18     3493.0       575.0        NaN
110  2020-04-19     3491.0       480.0        NaN
111  2020-04-20     3047.0       433.0     7841.0
112  2020-04-21     2256.0       454.0    28095.0
113  2020-04-22     2729.0       534.0    44248.0
114  2020-04-23     3370.0       437.0    37083.0

In [91]:
print(type(covid_df.sample(8)))
covid_df.sample(8)

<class 'pandas.core.frame.DataFrame'>

           date  new_cases  new_deaths  new_tests
14   2020-01-14        0.0         0.0        NaN
209  2020-07-27      254.0         5.0    19374.0
221  2020-08-08      552.0         3.0    26631.0
198  2020-07-16      162.0        13.0    28089.0
80   2020-03-20     5322.0       429.0        NaN
164  2020-06-12      379.0        53.0    37651.0
116  2020-04-25     3021.0       420.0    38676.0
130  2020-05-09     1327.0       243.0    36091.0

In [92]:
# jovian.commit(filename='python-pandas-DA_jm.ipynb')

## Analyzing Data from a DF
- Questions like total number of a column

In [93]:
total_cases = covid_df.new_cases.sum()
total_deaths = covid_df['new_deaths'].sum()
print(total_cases, total_deaths)

271515.0 35497.0

In [94]:
# **Q: What is the overall death rate (ratio of reported deaths to reported cases)?**
death_cases_ratio = total_deaths / total_cases
print('The overall death rate (ratio of reported deaths to reported cases) is: {:.2f}'.format(death_cases_ratio))

The overall death rate (ratio of reported deaths to reported cases) is: 0.13

### Quering and Sorting rows

In [95]:
covid_df[covid_df.new_cases > 1000]

           date  new_cases  new_deaths  new_tests
68   2020-03-08     1247.0        36.0        NaN
69   2020-03-09     1492.0       133.0        NaN
70   2020-03-10     1797.0        98.0        NaN
72   2020-03-12     2313.0       196.0        NaN
73   2020-03-13     2651.0       189.0        NaN
..          ...        ...         ...        ...
241  2020-08-28     1409.0         5.0    65135.0
242  2020-08-29     1460.0         9.0    64294.0
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
247  2020-09-03     1326.0         6.0        NaN

[72 rows x 4 columns]

In [96]:
### Getting some answers and adding as new DF's columns
#**Q: What is the overall number of tests conducted? A total of 935310 tests
# were conducted before daily test numbers were reported.**
initial_tests = 955310
total_tests = initial_tests + covid_df.new_tests.sum()
print(total_tests)
# **Q: What fraction of tests returned a positive result?** 
positive_rate = total_cases / total_tests
print(positive_rate)
print('{:.2f}% of tests in Italy led to a positive diagnosis.'.format(positive_rate*100))

# A more intersting Query
# **Q: determine the rows (days) when the ratio of cases reported to tests conducted is higher than the overall `positive_rate`.
hight_ratio_df = covid_df[covid_df['new_cases'] / covid_df['new_tests'] > positive_rate]
print(hight_ratio_df.shape, type(hight_ratio_df))
display(hight_ratio_df)

5234766.0
0.05186764795217207
5.19% of tests in Italy led to a positive diagnosis.
(12, 4) <class 'pandas.core.frame.DataFrame'>

           date  new_cases  new_deaths  new_tests
111  2020-04-20     3047.0       433.0     7841.0
112  2020-04-21     2256.0       454.0    28095.0
113  2020-04-22     2729.0       534.0    44248.0
114  2020-04-23     3370.0       437.0    37083.0
116  2020-04-25     3021.0       420.0    38676.0
117  2020-04-26     2357.0       415.0    24113.0
118  2020-04-27     2324.0       260.0    26678.0
120  2020-04-29     2091.0       382.0    38589.0
123  2020-05-02     1965.0       269.0    31231.0
124  2020-05-03     1900.0       474.0    27047.0
125  2020-05-04     1389.0       174.0    22999.0
128  2020-05-07     1444.0       369.0    13665.0

In [97]:
## Adding columns to the DF
display(covid_df.tail())       # actual DF
positive_rate_day = covid_df['new_cases'] / covid_df['new_tests']  # This is a pd.Serie
covid_df['positive_rate'] = covid_df['new_cases'] / covid_df['new_tests']
covid_df.tail()                #  the new actual DF

           date  new_cases  new_deaths  new_tests
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
245  2020-09-01      996.0         6.0    54395.0
246  2020-09-02      975.0         8.0        NaN
247  2020-09-03     1326.0         6.0        NaN

           date  new_cases  new_deaths  new_tests  positive_rate
243  2020-08-30     1444.0         1.0    53541.0       0.026970
244  2020-08-31     1365.0         4.0    42583.0       0.032055
245  2020-09-01      996.0         6.0    54395.0       0.018311
246  2020-09-02      975.0         8.0        NaN            NaN
247  2020-09-03     1326.0         6.0        NaN            NaN

In [100]:
## There is a long speech about the context cause test take more tha a day to give te result.. and.. ok, delete (drop) te new positive_rate col 
covid_df.drop(columns='positive_rate', inplace=True)
covid_df

           date  new_cases  new_deaths  new_tests
0    2019-12-31        0.0         0.0        NaN
1    2020-01-01        0.0         0.0        NaN
2    2020-01-02        0.0         0.0        NaN
3    2020-01-03        0.0         0.0        NaN
4    2020-01-04        0.0         0.0        NaN
..          ...        ...         ...        ...
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
245  2020-09-01      996.0         6.0    54395.0
246  2020-09-02      975.0         8.0        NaN
247  2020-09-03     1326.0         6.0        NaN

[248 rows x 4 columns]

In [101]:
# Sort rows in higher number of cases
# covid_df.sort_values('new_cases', ascending=False)  # this is a DF
covid_df.sort_values('new_cases', ascending=False).head(7)

          date  new_cases  new_deaths  new_tests
82  2020-03-22     6557.0       795.0        NaN
87  2020-03-27     6153.0       660.0        NaN
81  2020-03-21     5986.0       625.0        NaN
89  2020-03-29     5974.0       887.0        NaN
88  2020-03-28     5959.0       971.0        NaN
83  2020-03-23     5560.0       649.0        NaN
80  2020-03-20     5322.0       429.0        NaN

In [102]:
# ... in higher num of deaths
covid_df.sort_values('new_deaths', ascending=False).head(7)

          date  new_cases  new_deaths  new_tests
88  2020-03-28     5959.0       971.0        NaN
89  2020-03-29     5974.0       887.0        NaN
92  2020-04-01     4053.0       839.0        NaN
91  2020-03-31     4050.0       810.0        NaN
82  2020-03-22     6557.0       795.0        NaN
95  2020-04-04     4585.0       764.0        NaN
94  2020-04-03     4668.0       760.0        NaN

In [106]:
help(covid_df.sort_values)      # shft + tab: do not work en VScode

Help on method sort_values in module pandas.core.frame:

sort_values(by: 'IndexLabel', *, axis: 'Axis' = 0, ascending: 'bool | list[bool] | tuple[bool, ...]' = True, inplace: 'bool' = False, kind: 'str' = 'quicksort', na_position: 'str' = 'last', ignore_index: 'bool' = False, key: 'ValueKeyFunc' = None) -> 'DataFrame | None' method of pandas.core.frame.DataFrame instance
    Sort by the values along either axis.

    Parameters
    ----------
            by : str or list of str
                Name or list of names to sort by.

                - if `axis` is 0 or `'index'` then `by` may contain index
                  levels and/or column labels.
                - if `axis` is 1 or `'columns'` then `by` may contain column
                  levels and/or index labels.
    axis : {0 or 'index', 1 or 'columns'}, default 0
         Axis to be sorted.
    ascending : bool or list of bool, default True
         Sort ascending vs. descending. Specify list for multiple sort
         orders.  If this is a list of bools, must match the length of
         the by.
    inplace : bool, default False
         If True, perform operation in-place.
    kind : {'quicksort', 'mergesort', 'heapsort', 'stable'}, default 'quicksort'
         Choice of sorting algorithm. See also :func:`numpy.sort` for more
         information. `mergesort` and `stable` are the only stable algorithms. For
         DataFrames, this option is only applied when sorting on a single
         column or label.
    na_position : {'first', 'last'}, default 'last'
         Puts NaNs at the beginning if `first`; `last` puts NaNs at the
         end.
    ignore_index : bool, default False
         If True, the resulting axis will be labeled 0, 1, …, n - 1.

         .. versionadded:: 1.0.0

    key : callable, optional
        Apply the key function to the values
        before sorting. This is similar to the `key` argument in the
        builtin :meth:`sorted` function, with the notable difference that
        this `key` function should be *vectorized*. It should expect a
        ``Series`` and return a Series with the same shape as the input.
        It will be applied to each column in `by` independently.

        .. versionadded:: 1.1.0

    Returns
    -------
    DataFrame or None
        DataFrame with sorted values or None if ``inplace=True``.

    See Also
    --------
    DataFrame.sort_index : Sort a DataFrame by the index.
    Series.sort_values : Similar method for a Series.

    Examples
    --------
    >>> df = pd.DataFrame({
    ...     'col1': ['A', 'A', 'B', np.nan, 'D', 'C'],
    ...     'col2': [2, 1, 9, 8, 7, 4],
    ...     'col3': [0, 1, 9, 4, 2, 3],
    ...     'col4': ['a', 'B', 'c', 'D', 'e', 'F']
    ... })
    >>> df
      col1  col2  col3 col4
    0    A     2     0    a
    1    A     1     1    B
    2    B     9     9    c
    3  NaN     8     4    D
    4    D     7     2    e
    5    C     4     3    F

    Sort by col1

    >>> df.sort_values(by=['col1'])
      col1  col2  col3 col4
    0    A     2     0    a
    1    A     1     1    B
    2    B     9     9    c
    5    C     4     3    F
    4    D     7     2    e
    3  NaN     8     4    D

    Sort by multiple columns

    >>> df.sort_values(by=['col1', 'col2'])
      col1  col2  col3 col4
    1    A     1     1    B
    0    A     2     0    a
    2    B     9     9    c
    5    C     4     3    F
    4    D     7     2    e
    3  NaN     8     4    D

    Sort Descending

    >>> df.sort_values(by='col1', ascending=False)
      col1  col2  col3 col4
    4    D     7     2    e
    5    C     4     3    F
    2    B     9     9    c
    0    A     2     0    a
    1    A     1     1    B
    3  NaN     8     4    D

    Putting NAs first

    >>> df.sort_values(by='col1', ascending=False, na_position='first')
      col1  col2  col3 col4
    3  NaN     8     4    D
    4    D     7     2    e
    5    C     4     3    F
    2    B     9     9    c
    0    A     2     0    a
    1    A     1     1    B

    Sorting with a key function

    >>> df.sort_values(by='col4', key=lambda col: col.str.lower())
       col1  col2  col3 col4
    0    A     2     0    a
    1    A     1     1    B
    2    B     9     9    c
    3  NaN     8     4    D
    4    D     7     2    e
    5    C     4     3    F

    Natural sort with the key argument,
    using the `natsort <https://github.com/SethMMorton/natsort>` package.

    >>> df = pd.DataFrame({
    ...    "time": ['0hr', '128hr', '72hr', '48hr', '96hr'],
    ...    "value": [10, 20, 30, 40, 50]
    ... })
    >>> df
        time  value
    0    0hr     10
    1  128hr     20
    2   72hr     30
    3   48hr     40
    4   96hr     50
    >>> from natsort import index_natsorted
    >>> df.sort_values(
    ...    by="time",
    ...    key=lambda x: np.argsort(index_natsorted(df["time"]))
    ... )
        time  value
    0    0hr     10
    3   48hr     40
    2   72hr     30
    4   96hr     50
    1  128hr     20

## Working with dates
- real datetime objects not strings (object) . pd.to_datetime() method.
- https://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.DatetimeIndex.html

In [109]:
# Actual value
#covid_df.sort_values('date', ascending=False)
covid_df.date

0      2019-12-31
1      2020-01-01
2      2020-01-02
3      2020-01-03
4      2020-01-04
          ...
243    2020-08-30
244    2020-08-31
245    2020-09-01
246    2020-09-02
247    2020-09-03
Name: date, Length: 248, dtype: object

In [111]:
covid_df['date'] = pd.to_datetime(covid_df['date'])
covid_df.date

0     2019-12-31
1     2020-01-01
2     2020-01-02
3     2020-01-03
4     2020-01-04
         ...
243   2020-08-30
244   2020-08-31
245   2020-09-01
246   2020-09-02
247   2020-09-03
Name: date, Length: 248, dtype: datetime64[ns]

In [112]:
# lot more for filtering w/year, day, weekday ... etc once addet year, month, day, weekday columns

### Grouping and aggregation
- summarize daywise data in monthwise data. df.groupby() method
- cumsum(), & others cummean, etc... methods to make acumulator at some point!!

# having a moth col...

## Merging data from multiple sources

## Writing data back to files

## Bonus; Basic Plotting w/Pandas