# Pandas
- Solve short hands-on challenges to perfect your data manipulation skills.
- https://www.kaggle.com/learn/pandas

## 5.- Data Types and Missing Values
- Deal with the most common progress-blocking problems

In [2]:
import numpy as np
import pandas as pd

print('np.__version__:', np.__version__)
print('pd.__version__:', pd.__version__)

#pd.set_option('display.max_rows', 5)

np.__version__: 1.23.5
pd.__version__: 1.5.3

In [3]:
reviews = pd.read_csv('Red.csv')
reviews.head(2)

,Name,Country,Region,Winery,Rating,NumberOfRatings,Price,Year
0,Pomerol 2011,France,Pomerol,Ch창teau La Providence,4.2,100,95.0,2011
1,Lirac 2017,France,Lirac,Ch창teau Mont-Redon,4.3,100,15.5,2017

### Dtypes

In [6]:
print(reviews.Price.dtype)
print(reviews['Country'].dtype)

float64
object

In [7]:
reviews.dtypes

Name                object
Country             object
Region              object
Winery              object
Rating             float64
NumberOfRatings      int64
Price              float64
Year                object
dtype: object

In [9]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8666 entries, 0 to 8665
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             8666 non-null   object
 1   Country          8666 non-null   object
 2   Region           8666 non-null   object
 3   Winery           8666 non-null   object
 4   Rating           8666 non-null   float64
 5   NumberOfRatings  8666 non-null   int64
 6   Price            8666 non-null   float64
 7   Year             8666 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 541.8+ KB

It's possible to convert a column of one type into another wherever such a conversion makes sense by using the astype()

In [10]:
reviews.NumberOfRatings.astype('float32')

0       100.0
1       100.0
2       100.0
3       100.0
4       100.0
        ...
8661    994.0
8662    995.0
8663    996.0
8664    998.0
8665    999.0
Name: NumberOfRatings, Length: 8666, dtype: float32

In [13]:
## Inmutable...
reviews.dtypes

Name                object
Country             object
Region              object
Winery              object
Rating             float64
NumberOfRatings      int64
Price              float64
Year                object
dtype: object

In [15]:
## A DataFrame or Series index has its own dtype, too:
reviews.index.dtype
# Pandas also supports more exotic data types, such as categorical data and timeseries data

dtype('int64')

### Missing data
Entries missing values are given the value NaN, short for "Not a Number". For technical reasons these NaN values are always of the float64 dtype.

Pandas provides some methods specific to missing data. To select NaN entries you can use pd.isnull() (or its companion pd.notnull()