# Pandas - #1
## Exercise: Creating, Reading and Writing
- https://www.kaggle.com/code/jorgemonti/exercise-creating-reading-and-writing/edit

In [8]:
import pandas as pd

pd.set_option('display.max_rows', 5)
pd.__version__

'1.5.3'

In [9]:
fruits_df = pd.DataFrame({'Apples': [30], 'Bananas': [21]})
fruits_df

   Apples  Bananas
0      30       21

In [10]:
fsales_df = pd.DataFrame({'Apples': [35, 41],
                          'Bananas': [21, 34]},
                          index=['2017 Sales', '2018 Sales'])
fsales_df

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

In [12]:
ingredients = pd.Series(['4 cups', '1 cup', '2 large', '1 can'],
              index=['Flour', 'Milk', 'Eggs', 'Spam'],
              name='Dinner')
ingredients

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

In [13]:
df = pd.read_csv('Red.csv')
df

,Name,Country,Region,Winery,Rating,NumberOfRatings,Price,Year
0,Pomerol 2011,France,Pomerol,Château La Providence,4.2,100,95.00,2011
1,Lirac 2017,France,Lirac,Château Mont-Redon,4.3,100,15.50,2017
...,...,...,...,...,...,...,...,...
8664,Shiraz 2019,Australia,South Eastern Australia,Yellow Tail,3.5,998,6.21,2019
8665,Portillo Cabernet Sauvignon 2016,Argentina,Tunuyán,Salentein,3.4,999,7.88,2016

In [15]:
animals = pd.DataFrame({'Cows': [12, 20], 'Goats': [22, 19]},
                       index=['Year 1', 'Year 2'])
display(animals)
animals.to_csv('cows_and_goats.csv')

        Cows  Goats
Year 1    12     22
Year 2    20     19

In [17]:
dft = pd.read_csv('cows_and_goats.csv', index_col=0)
dft

        Cows  Goats
Year 1    12     22
Year 2    20     19