# Pandas
- Solve short hands-on challenges to perfect your data manipulation skills.
- https://www.kaggle.com/learn/pandas

## 3.- Exercise: Summary Functions and Maps
- Now you are ready to get a deeper understanding of your data.

In [2]:
import numpy as np
import pandas as pd

print('np.__version__:', np.__version__)
print('pd.__version__:', pd.__version__)

#pd.set_option('display.max_rows', 5)

np.__version__: 1.23.5
pd.__version__: 1.5.3

In [3]:
reviews = pd.read_csv('Red.csv')
reviews.head(3)

,Name,Country,Region,Winery,Rating,NumberOfRatings,Price,Year
0,Pomerol 2011,France,Pomerol,Château La Providence,4.2,100,95.00,2011
1,Lirac 2017,France,Lirac,Château Mont-Redon,4.3,100,15.50,2017
2,Erta e China Rosso di Toscana 2015,Italy,Toscana,Renzo Masi,3.9,100,7.45,2015

In [25]:
# 1. median of Rating column in the reviews DataFrame?
print(reviews.Rating.median(), type(reviews.Rating.median()))
print(reviews.Rating.mean(), type(reviews.Rating.mean()))
print(reviews.Rating.mode(), type(reviews.Rating.mode()))
print(reviews.Rating.mode().iloc[0], type(reviews.Rating.mode().iloc[0]))
print(reviews.Rating.quantile(0.5), type(reviews.Rating.quantile(0.5))) # median
print(reviews.Rating.quantile([0.25, 0.75]), type(reviews.Rating.quantile([0.25, 0.75])))

3.9 <class 'numpy.float64'>
3.8903415647357487 <class 'numpy.float64'>
0    3.8
Name: Rating, dtype: float64 <class 'pandas.core.series.Series'>
3.8 <class 'numpy.float64'>
3.9 <class 'numpy.float64'>
0.25    3.7
0.75    4.1
Name: Rating, dtype: float64 <class 'pandas.core.series.Series'>

In [26]:
# 2. What countries are represented in the dataset? (Your answer should not include any duplicates.)
reviews.Country.unique()

array(['France', 'Italy', 'Austria', 'New Zealand', 'Chile', 'Australia',
       'South Africa', 'Spain', 'United States', 'Portugal', 'Hungary',
       'Brazil', 'Argentina', 'Romania', 'Germany', 'Greece', 'Mexico',
       'Moldova', 'Switzerland', 'Slovenia', 'Israel', 'Georgia',
       'Lebanon', 'Uruguay', 'Turkey', 'Croatia', 'China', 'Slovakia',
       'Bulgaria', 'Canada'], dtype=object)

In [28]:
# 3. How often does each country appear in the dataset? Create a Series
# reviews_per_country mapping countries to the count of reviews of wines from
# that country.
reviews.Country.value_counts()

Italy            2650
France           2256
Spain            1142
South Africa      500
United States     374
Chile             326
Germany           248
Australia         246
Argentina         246
Portugal          230
Austria           220
New Zealand        63
Brazil             40
Romania            23
Lebanon            15
Israel             13
Greece             13
Switzerland        12
Hungary             9
Moldova             8
Slovenia            8
Turkey              6
Georgia             5
Uruguay             4
Croatia             2
Bulgaria            2
Canada              2
Mexico              1
China               1
Slovakia            1
Name: Country, dtype: int64

In [32]:
# 4. Create variable centered_price containing a version of the price column
# with the mean price subtracted.
# (Note: this 'centering' transformation is a common preprocessing step before
# applying various machine learning algorithms.)
print(reviews.Price.mean(), reviews.Price.min(), reviews.Price.max() )
centered_price = reviews.Price - reviews.Price.mean()
centered_price

39.14506462035541 3.55 3410.79

0       55.854935
1      -23.645065
2      -31.695065
3      -30.425065
4       -9.995065
          ...
8661   -22.675065
8662   -19.055065
8663   -15.195065
8664   -32.935065
8665   -31.265065
Name: Price, Length: 8666, dtype: float64

In [ ]:
# with map() and with apply() for the future.

In [68]:
## 5. I'm an economical wine buyer. Which wine is the "best bargain"? Create a
# variable bargain_wine with the title of the wine with the highest
# points-to-price ratio in the dataset.
ratio = reviews.Rating / reviews.Price
best = max(ratio)
print(best, type(best), ' - ratio:', type(ratio))
display(reviews.loc[ratio == best])
print(type(reviews.loc[ratio == best]))
print(reviews.loc[ratio == best].loc[6408, 'Name'])
print(reviews.loc[ratio == best, 'Name'])
print(reviews.loc[ratio == best].loc[-1:, 'Name'])
## here the solution is HOW obtain de index of the row.. 
ix = reviews.loc[ratio == best].index.item()
ix
print(reviews.loc[ratio == best].loc[ix, 'Name'])
reviews.loc[ratio == best, 'Name'].item()

1.0026385224274406 <class 'float'>  - ratio: <class 'pandas.core.series.Series'>

,Name,Country,Region,Winery,Rating,NumberOfRatings,Price,Year
6408,Nero d'Avola 2018,Italy,Terre Siciliane,Monte Pietroso,3.8,56,3.79,2018

<class 'pandas.core.frame.DataFrame'>
Nero d'Avola 2018
6408    Nero d'Avola 2018
Name: Name, dtype: object
6408    Nero d'Avola 2018
Name: Name, dtype: object
Nero d'Avola 2018

"Nero d'Avola 2018"

In [62]:
# with idxmax i direct
berg1_idx = (reviews.Rating / reviews.Price).idxmax()
berg1_idx
barg1_w1 = reviews.loc[berg1_idx, 'Name']
barg1_w1

"Nero d'Avola 2018"

In [ ]:
# 6. There are only so many words you can use when describing a bottle of wine.
# Is a wine more likely to be "tropical" or "fruity"? Create a Series
# descriptor_counts counting how many times each of these two words appears in
# the description column in the dataset. (For simplicity, let's ignore the
# capitalized versions of these words.)

### Summary functions (not an official name)
- ex. .discribe()

In [4]:
# describe for all columns (df.describe())
reviews.describe()
# type(reviews.describe())    # pandas.core.frame.DataFrame

            Rating  NumberOfRatings        Price
count  8666.000000      8666.000000  8666.000000
mean      3.890342       415.287445    39.145065
std       0.308548       899.726373    84.936307
min       2.500000        25.000000     3.550000
25%       3.700000        66.000000    10.680000
50%       3.900000       157.000000    18.200000
75%       4.100000       401.000000    38.142500
max       4.800000     20293.000000  3410.790000

In [5]:
# describe for only one column (Series.describe())
reviews.Price.describe()
# type(reviews.Price.describe())  # pandas.core.series.Series

count    8666.000000
mean       39.145065
std        84.936307
min         3.550000
25%        10.680000
50%        18.200000
75%        38.142500
max      3410.790000
Name: Price, dtype: float64

In [6]:
# for string data here's what we get:
reviews.Country.describe()

count      8666
unique       30
top       Italy
freq       2650
Name: Country, dtype: object

In [7]:
# particular simply statistics, ex.:
print(f"{'Rating.mean():':<20} {reviews.Rating.mean():>8.2f}")
print(f"{'Price.max():':<20} {reviews.Price.max():>8.2f}")
print(f"{'Country.count():':<20} {reviews.Country.count():>8.2f}")

Rating.mean():           3.89
Price.max():          3410.79
Country.count():      8666.00

In [8]:
# To see a list of unique values we can use the unique() function:
print(len(reviews.Country.unique()))
reviews.Country.unique()
# type(reviews.Country.unique())      # numpy.ndarray

30

array(['France', 'Italy', 'Austria', 'New Zealand', 'Chile', 'Australia',
       'South Africa', 'Spain', 'United States', 'Portugal', 'Hungary',
       'Brazil', 'Argentina', 'Romania', 'Germany', 'Greece', 'Mexico',
       'Moldova', 'Switzerland', 'Slovenia', 'Israel', 'Georgia',
       'Lebanon', 'Uruguay', 'Turkey', 'Croatia', 'China', 'Slovakia',
       'Bulgaria', 'Canada'], dtype=object)

In [9]:
# List of unique values and how often they occur in the dataset, we can use the
# value_counts() method:
reviews.Country.value_counts()

Italy            2650
France           2256
Spain            1142
South Africa      500
United States     374
Chile             326
Germany           248
Australia         246
Argentina         246
Portugal          230
Austria           220
New Zealand        63
Brazil             40
Romania            23
Lebanon            15
Israel             13
Greece             13
Switzerland        12
Hungary             9
Moldova             8
Slovenia            8
Turkey              6
Georgia             5
Uruguay             4
Croatia             2
Bulgaria            2
Canada              2
Mexico              1
China               1
Slovakia            1
Name: Country, dtype: int64

### Maps
There are two mapping methods that you will use often: map() and apply()

In [10]:
###  Remean the Rating to 0. We can do this as follows:
reviews.Rating.map(lambda r: r - reviews.Rating.mean())

0       0.309658
1       0.409658
2       0.009658
3      -0.390342
4       0.009658
          ...
8661   -0.090342
8662    0.109658
8663   -0.190342
8664   -0.390342
8665   -0.490342
Name: Rating, Length: 8666, dtype: float64

In [11]:
# apply() is the equivalent method if we want to transform a whole DataFrame by calling a custom method on each row.
def remean_rating(row):
    row.Rating = row.Rating - reviews.Rating.mean()
    return row

reviews.apply(remean_rating, axis='columns')

,Name,Country,Region,Winery,Rating,NumberOfRatings,Price,Year
0,Pomerol 2011,France,Pomerol,Château La Providence,0.309658,100,95.00,2011
1,Lirac 2017,France,Lirac,Château Mont-Redon,0.409658,100,15.50,2017
2,Erta e China Rosso di Toscana 2015,Italy,Toscana,Renzo Masi,0.009658,100,7.45,2015
3,Bardolino 2019,Italy,Bardolino,Cavalchina,-0.390342,100,8.72,2019
4,Ried Scheibner Pinot Noir 2016,Austria,Carnuntum,Markowitsch,0.009658,100,29.15,2016
...,...,...,...,...,...,...,...,...
8661,6th Sense Syrah 2016,United States,Lodi,Michael David Winery,-0.090342,994,16.47,2016
8662,Botrosecco Maremma Toscana 2016,Italy,Maremma Toscana,Le Mortelle,0.109658,995,20.09,2016
8663,Haut-Médoc 2010,France,Haut-Médoc,Château Cambon La Pelouse,-0.190342,996,23.95,2010
8664,Shiraz 2019,Australia,South Eastern Australia,Yellow Tail,-0.390342,998,6.21,2019
8665,Portillo Cabernet Sauvignon 2016,Argentina,Tunuyán,Salentein,-0.490342,999,7.88,2016


If we had called reviews.apply() with axis='index', then instead of passing a function to transform each row, we would need to give a function to transform each column.

Note that map() and apply() return new, transformed Series and DataFrames, respectively. They don't modify the original data they're called on. If we look at the first row of reviews, we can see that it still has its original points value.

In [12]:
reviews.head(3)

,Name,Country,Region,Winery,Rating,NumberOfRatings,Price,Year
0,Pomerol 2011,France,Pomerol,Château La Providence,4.2,100,95.00,2011
1,Lirac 2017,France,Lirac,Château Mont-Redon,4.3,100,15.50,2017
2,Erta e China Rosso di Toscana 2015,Italy,Toscana,Renzo Masi,3.9,100,7.45,2015

In [13]:
## Pandas provides many common mapping operations as built-ins. For example,
# here's a faster way of remeaning our points column:
reviews.Rating - reviews.Rating.mean()

0       0.309658
1       0.409658
2       0.009658
3      -0.390342
4       0.009658
          ...
8661   -0.090342
8662    0.109658
8663   -0.190342
8664   -0.390342
8665   -0.490342
Name: Rating, Length: 8666, dtype: float64

In this code we are performing an operation between a lot of values on the left-hand side (everything in the Series) and a single value on the right-hand side (the mean value). Pandas looks at this expression and figures out that we must mean to subtract that mean value from every value in the dataset.

In [14]:
## Pandas will also understand what to do if we perform these operations between
# Series of equal length. For example, an easy way of combining country and
# region information in the dataset would be to do the following:
reviews.Country + ' - ' + reviews.Region

0                          France - Pomerol
1                            France - Lirac
2                           Italy - Toscana
3                         Italy - Bardolino
4                       Austria - Carnuntum
                       ...
8661                   United States - Lodi
8662                Italy - Maremma Toscana
8663                    France - Haut-Médoc
8664    Australia - South Eastern Australia
8665                    Argentina - Tunuyán
Length: 8666, dtype: object

These operators are faster than map() or apply() because they use speed ups built into pandas. All of the standard Python operators (>, <, ==, and so on) work in this manner.

However, they are not as flexible as map() or apply(), which can do more advanced things, like applying conditional logic, which cannot be done with addition and subtraction alone.

In [82]:
# There are only so many words you can use when describing a bottle of wine.
# Is a wine more likely to be "tropical"
# or "fruity"? Create a Series descriptor_counts counting how many times each of
# these two words appears in the description column in the dataset. (For
# simplicity, let's ignore the capitalized versions of these words.)
## Regions Tunuyan Toscana
reviews.Region.unique()
reviews.Region.value_counts()
reviews.loc[reviews.Region == 'Toscana'].count()
reviews.loc[reviews.Region == 'Tunuyán'].count()
reviews.loc[reviews.Region == 'San Carlos'].count()
reviews.loc[(reviews.Region == 'Tunuyán') |
            (reviews.Region == 'San Carlos')].count()

Name               8
Country            8
Region             8
Winery             8
Rating             8
NumberOfRatings    8
Price              8
Year               8
dtype: int64

In [90]:
n_ty = reviews.Region.map(lambda r: 'Tunuyán' in r).sum()
#n_ty = reviews.loc[reviews.Region == 'Tunuyán'].count()
n_sc = reviews.Region.map(lambda r: 'San Carlos' in r).sum()
reg_cnt = pd.Series([n_ty, n_sc], index=['ty', 'sc'])
reg_cnt

ty    7
sc    1
dtype: int64

In [ ]:
## 7. num of starts instead of Rating

def stars(row):
    if row.country == 'Canada':
        return 3
    elif row.points >= 95:
        return 3
    elif row.points >= 85:
        return 2
    else:
        return 1

star_ratings = reviews.apply(stars, axis='columns')