# Pandas
- Solve short hands-on challenges to perfect your data manipulation skills.
- https://www.kaggle.com/learn/pandas

## 4.- Exercise: Grouping and Sorting
- groupby(), agg(), reset_index(), value_sort()

In [1]:
import numpy as np
import pandas as pd

print('np.__version__:', np.__version__)
print('pd.__version__:', pd.__version__)

#pd.set_option('display.max_rows', 5)

np.__version__: 1.23.5
pd.__version__: 1.5.3

In [2]:
revs = pd.read_csv('Red.csv')
revs.head(2)

,Name,Country,Region,Winery,Rating,NumberOfRatings,Price,Year
0,Pomerol 2011,France,Pomerol,Château La Providence,4.2,100,95.0,2011
1,Lirac 2017,France,Lirac,Château Mont-Redon,4.3,100,15.5,2017

### 1.- Who are the most common wine reviewers in the dataset? Create a Series whose index is the taster_twitter_handle category from the dataset, and whose values count how many reviews each person wrote.

In [3]:
## 1.- Who are the most common Region in the dataset? Create a Series whose index is the
# Region category from the dataset, and whose values count how many reviews each person wrote.
print(type(revs.Region.value_counts()))
revs.Region.value_counts()

<class 'pandas.core.series.Series'>

Rioja                                  325
Toscana                                249
Stellenbosch                           232
Saint-Émilion Grand Cru                207
Barolo                                 175
                                      ...
Sachsen                                  1
Coteaux Varois en Provence               1
Orvietano Rosso                          1
Mercurey 1er Cru 'Le Clos L'Evêque'      1
Mount Veeder                             1
Name: Region, Length: 624, dtype: int64

In [4]:
# with the Name of the Series, Region, as a tittle
print(type(revs.value_counts('Region')))
revs.value_counts('Region')

<class 'pandas.core.series.Series'>

Region
Rioja                      325
Toscana                    249
Stellenbosch               232
Saint-Émilion Grand Cru    207
Barolo                     175
                          ...
Grampians                    1
Goumenissa                   1
Santa Lucia Highlands        1
Santa Maria Valley           1
Aargau                       1
Length: 624, dtype: int64

In [5]:
# using .groupby() ascending False to obtain (almost) the same output as above
revs.groupby('Region').Region.count().sort_values(ascending=False)

Region
Rioja                      325
Toscana                    249
Stellenbosch               232
Saint-Émilion Grand Cru    207
Barolo                     175
                          ...
Grampians                    1
Goumenissa                   1
Santa Lucia Highlands        1
Santa Maria Valley           1
Aargau                       1
Name: Region, Length: 624, dtype: int64

In [6]:
# .groupby() default
revs.groupby('Region').Region.count()

Region
Aargau                  1
Abruzzo                 4
Aconcagua               8
Aconcagua Costa         5
Aconcagua Valley       39
                       ..
Yecla                   6
Zürich                  3
delle Venezie          13
Échezeaux Grand Cru     2
Štajerska               2
Name: Region, Length: 624, dtype: int64

In [7]:
# Countries reviews count
revs.groupby('Country')['Country'].count()

Country
Argentina         246
Australia         246
Austria           220
Brazil             40
Bulgaria            2
Canada              2
Chile             326
China               1
Croatia             2
France           2256
Georgia             5
Germany           248
Greece             13
Hungary             9
Israel             13
Italy            2650
Lebanon            15
Mexico              1
Moldova             8
New Zealand        63
Portugal          230
Romania            23
Slovakia            1
Slovenia            8
South Africa      500
Spain            1142
Switzerland        12
Turkey              6
United States     374
Uruguay             4
Name: Country, dtype: int64

In [8]:
# add a column like region_twitter @region...
revs['region_twitter'] = '@' + revs.Region
revs.head(3)
# to get something similar to taster_name and taster_twitter_handle

,Name,Country,Region,Winery,Rating,NumberOfRatings,Price,Year,region_twitter
0,Pomerol 2011,France,Pomerol,Château La Providence,4.2,100,95.00,2011,@Pomerol
1,Lirac 2017,France,Lirac,Château Mont-Redon,4.3,100,15.50,2017,@Lirac
2,Erta e China Rosso di Toscana 2015,Italy,Toscana,Renzo Masi,3.9,100,7.45,2015,@Toscana

In [9]:
revs.groupby('region_twitter').Region.count()

region_twitter
@Aargau                  1
@Abruzzo                 4
@Aconcagua               8
@Aconcagua Costa         5
@Aconcagua Valley       39
                        ..
@Yecla                   6
@Zürich                  3
@delle Venezie          13
@Échezeaux Grand Cru     2
@Štajerska               2
Name: Region, Length: 624, dtype: int64

In [10]:
# ALSO:
revs.groupby('region_twitter').size()

region_twitter
@Aargau                  1
@Abruzzo                 4
@Aconcagua               8
@Aconcagua Costa         5
@Aconcagua Valley       39
                        ..
@Yecla                   6
@Zürich                  3
@delle Venezie          13
@Échezeaux Grand Cru     2
@Štajerska               2
Length: 624, dtype: int64

### 2.- What is the best wine I can buy for a given amount of money? Create a Series whose index is wine prices and whose values is the maximum number of points a wine costing that much was given in a review. Sort the values by price, ascending (so that 4.0 dollars is at the top and 3300.0 dollars is at the bottom).

In [11]:
revs.groupby('Price').Rating.max()

Price
3.55       3.2
3.70       3.1
3.79       3.8
3.95       3.4
3.99       3.7
          ...
1197.90    4.6
1266.25    4.5
1399.00    4.4
1599.95    4.5
3410.79    4.7
Name: Rating, Length: 2491, dtype: float64

### 3.- What are the minimum and maximum prices for each variety of wine? Create a DataFrame whose index is the variety category from the dataset and whose values are the min and max values thereof.

In [12]:
# 3.- What are the minimum and maximum prices of wine for each Region? Create a DataFrame whose index is the
# Region category from the dataset and whose values are the min and max values thereof.
df = pd.DataFrame()
df['min_price'] = revs.groupby('Region').Price.min()
df['max_price'] = revs.groupby('Region').Price.max()
df

                     min_price  max_price
Region
Aargau                   36.90      36.90
Abruzzo                  10.45      21.89
Aconcagua                20.49      40.81
Aconcagua Costa          19.90      92.00
Aconcagua Valley          8.19     131.60
...                        ...        ...
Yecla                     5.75      17.55
Zürich                   15.11      70.19
delle Venezie             5.82      19.95
Échezeaux Grand Cru     208.20     222.13
Štajerska                 8.50      14.50

[624 rows x 2 columns]

In [13]:
# BETTER using .agg()
df1 = revs.groupby('Region').Price.agg(['min', 'max'])
df1

                        min     max
Region
Aargau                36.90   36.90
Abruzzo               10.45   21.89
Aconcagua             20.49   40.81
Aconcagua Costa       19.90   92.00
Aconcagua Valley       8.19  131.60
...                     ...     ...
Yecla                  5.75   17.55
Zürich                15.11   70.19
delle Venezie          5.82   19.95
Échezeaux Grand Cru  208.20  222.13
Štajerska              8.50   14.50

[624 rows x 2 columns]

### 4.- What are the most expensive wine varieties? Create a variable sorted_varieties containing a copy of the dataframe from the previous question where varieties are sorted in descending order based on minimum price, then on maximum price (to break ties).

In [14]:
# instead of varieties i use Regions
df1.sort_values(by=['min', 'max'], ascending=False)

                               min     max
Region
Musigny Grand Cru           995.00  995.00
Bonnes-Mares Grand Cru      291.46  291.46
Bolgheri Sassicaia          214.90  632.64
Clos de Lambrays Grand Cru  209.00  209.00
Échezeaux Grand Cru         208.20  222.13
...                            ...     ...
Central Valley                4.25   16.32
Cariñena                      3.99   18.79
Terre Siciliane               3.79   55.00
La Mancha                     3.70   33.68
Castilla                      3.55   27.78

[624 rows x 2 columns]

### 5.- Create a Series whose index is reviewers and whose values is the average review score given out by that reviewer. Hint: you will need the taster_name and points columns.

In [15]:
reg_mean = revs.groupby('Region').Rating.mean()
reg_mean

Region
Aargau                 4.200000
Abruzzo                4.125000
Aconcagua              3.900000
Aconcagua Costa        4.020000
Aconcagua Valley       4.002564
                         ...
Yecla                  3.516667
Zürich                 3.866667
delle Venezie          3.723077
Échezeaux Grand Cru    4.250000
Štajerska              3.500000
Name: Rating, Length: 624, dtype: float64

In [16]:
reg_mean.describe()

count    624.000000
mean       3.852884
std        0.248910
min        2.900000
25%        3.700000
50%        3.840000
75%        4.000000
max        4.625000
Name: Rating, dtype: float64

### 6.- What combination of countries and varieties are most common? Create a Series whose index is a MultiIndexof {country, variety} pairs. For example, a pinot noir produced in the US should map to {"US", "Pinot Noir"}. Sort the values in the Series in descending order based on wine count.

In [17]:
# I use countries and Regions
country_region_0 = revs.groupby(['Country', 'Region']).Region.count()  ## A SERIES
print(type(country_region_0))
display(country_region_0)
#country_region_0.reset_index() ## ERROR in a Series

<class 'pandas.core.series.Series'>

Country        Region
Argentina      Agrelo                      1
               Cafayate Valley             3
               Calchaqui Valley            3
               Gualtallary                 3
               La Consulta                 1
                                          ..
United States  Willamette Valley           7
               Yamhill-Carlton District    1
Uruguay        Maldonado                   2
               Progreso                    1
               San José                    1
Name: Region, Length: 624, dtype: int64

In [29]:
## Correct solution
cr_count = revs.groupby(['Country', 'Region']).size().sort_values(ascending=False)
cr_count

Country       Region
Spain         Rioja                      325
Italy         Toscana                    249
South Africa  Stellenbosch               232
France        Saint-Émilion Grand Cru    207
Italy         Barolo                     175
                                        ...
Greece        Slopes of Enos               1
              Santorini                    1
              Rapsani                      1
              Nemea                        1
Uruguay       San José                     1
Length: 624, dtype: int64

In [26]:
cr0 = revs.groupby(['Country', 'Region']).count()
print(type(cr0))
#display(cr0)
cr = cr0.reset_index().sort_values(by='Name', ascending=False)
print('type(cr):', type(cr))
cr
#cr.groupby('Country Region').Name.count()

<class 'pandas.core.frame.DataFrame'>
type(cr): <class 'pandas.core.frame.DataFrame'>

,Country,Region,Name,Winery,Rating,NumberOfRatings,Price,Year,region_twitter
553,Spain,Rioja,325,325,325,325,325,325,325
428,Italy,Toscana,249,249,249,249,249,249,249
509,South Africa,Stellenbosch,232,232,232,232,232,232,232
240,France,Saint-Émilion Grand Cru,207,207,207,207,207,207,207
314,Italy,Barolo,175,175,175,175,175,175,175
...,...,...,...,...,...,...,...,...,...
295,Greece,Slopes of Enos,1,1,1,1,1,1,1
294,Greece,Santorini,1,1,1,1,1,1,1
293,Greece,Rapsani,1,1,1,1,1,1,1
292,Greece,Nemea,1,1,1,1,1,1,1
623,Uruguay,San José,1,1,1,1,1,1,1