# Never have missing columns names again
- When import a .csv file without headers: use 'names=' pd.read_csv parameter

In [5]:
import pandas as pd
pd.__version__

'1.5.3'

In [10]:
# to get an ugly excel without headers
    # pip install openpyxl -> what i use in this case
df = pd.read_csv('food_order_no_header.txt', header=None)
display(df)
df.to_excel('food_order_no_header.xlsx')

     0      1             2         3
0  134  53478   Habana Cafe     Latin
1   93  78425   Via Venetto   Italian
2  647  15432  La Primavera    Bakery
3  455  54223       Huan Fu  Chiniese

In [13]:
# to get en excel with headers (i know what every column is)
data = pd.read_csv('food_order_no_header.txt',
                   header=None,
                   names=[
                        'order_id',
                        'customer_id',
                        'resto_name',
                        'cuisine_type'
                   ])
# easier to analyze and work with and save clear xlsx.
display(data)
data.to_excel('food_order.xlsx', index=False)

   order_id  customer_id    resto_name cuisine_type
0       134        53478   Habana Cafe        Latin
1        93        78425   Via Venetto      Italian
2       647        15432  La Primavera       Bakery
3       455        54223       Huan Fu     Chiniese

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   order_id      4 non-null      int64
 1   customer_id   4 non-null      int64
 2   resto_name    4 non-null      object
 3   cuisine_type  4 non-null      object
dtypes: int64(2), object(2)
memory usage: 256.0+ bytes